<h1 class="text-center"> <%= t('home.title')%></h1>

<div class="img-splash row">
  <div class="col-md-3"><img class="img-responsive" src="https://static1.squarespace.com/static/54f615cee4b082baf47cf92c/t/5b748974758d464a8de00ae8/1534364032224/IMG_6520.JPG?" alt=""></div>
  <div class="col-md-3 col-md-offset-1"><img class="img-responsive" src="https://static1.squarespace.com/static/54f615cee4b082baf47cf92c/t/5b748a0f0e2e7237ed6ae305/1534365553674/Seizoki2.jpg" alt=""></div>
  <div class="col-md-3 col-md-offset-1"><img class="img-responsive" src="https://static1.squarespace.com/static/54f615cee4b082baf47cf92c/t/5b748ba14fa51a2b5145736f/1534364623823/IMG_2210.JPG?" alt=""></div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
  <%= t('home.text') %>
  </div>
   
</div>
