<h1 class="text-center"> Collaborative Cataloging Japan</h1>

<div class="img-splash row">
  <div class="col-md-3"><img class="img-responsive" src="https://static1.squarespace.com/static/54f615cee4b082baf47cf92c/t/5a55769a9140b79f61c1f390/1515550381505/page-0.jpg" alt=""></div>
  <div class="col-md-3 col-md-offset-1"><img class="img-responsive" src="https://static1.squarespace.com/static/54f615cee4b082baf47cf92c/t/5a55771e085229d58df92c45/1515550564343/Slide28.jpg" alt="Nobukazu Suzuki: :Skill Share in Cambodia, Japan, and Malawi"></div>
  <div class="col-md-3 col-md-offset-1"><img class="img-responsive" src="https://static1.squarespace.com/static/54f615cee4b082baf47cf92c/t/5a55769a9140b79f61c1f390/1515550381505/page-0.jpg" alt=""></div>
</div>

<div class="row">
  <div class="col-md-3 col-md-offset-2">
This Japanese Lorem Ipsum is based on the kanji frequency count at tidraso.co.uk and includes about 50% kanji, 25% hiragana, 20% katakana and 5% roman numerals and punctuation. Katakana and hiragana cluster in strings between 1 to 4 chars at random points in each paragraph. Hiragana occurs more often at the end of sentences, rather in clumps of 1 to 4 chars rather than just single chars. Katakana is very unlikely to appear as a single character in Japanese text, but hiragana could. Exclamation and question marks are "double-byte", not standard ascii ones. Suggestions for improvements or alternatives are welcome.
  </div>
  <div class="col-md-3 col-md-offset-2">
    画オテムヘ現抱ひてぜえ連渉予アハマフ雇万うん使自はど彼稼ヨセ断品フぐレ型向ょらぱど難宅ウエメタ代案リ秀越ぶなら起徹ッら球明7籍覧カ政96兼唱き。開ウアヲ反際ナイミ各6児むつめべ供刊れるだ真掲ちべづ貸倍だてト提86達げゅに大逮変か健月視けドば推台ーぽふ原由メ克赤ヲタツ来探ぶ川牧際月ヱカラニ経難ぜひ。

能エヨ落駆させぴぼ活生掲れ深年ばふッ先核モエハ海性反ラエロチ御旅ラ軍宝ヱフチア降公サニ全福ドス疲36合ケ惑1穂イぼこフ島次すやリ優疑ミ乱加ウチロ情庫韓行おりッた。情ド社流マ朝場ル公第喝ヤワ誕能期て時吉れぞつ大義てぱび客報ッと思福6者北タカ敗年ネモル聞84全種兄つらべね。

面っ県喪べ務日ケマ京決ユ最物ヤフヱイ身2予トイち属逮ヨ手権ホ意無務エモテア米臣集じず媛巡ご
  </div>
</div>
