<h1 class="text-center"> Collaborative Cataloging Japan</h1>

<div class="img-splash row">
  <div class="col-md-3"><img class="img-responsive" src="https://static1.squarespace.com/static/54f615cee4b082baf47cf92c/t/5b748974758d464a8de00ae8/1534364032224/IMG_6520.JPG?" alt=""></div>
  <div class="col-md-3 col-md-offset-1"><img class="img-responsive" src="https://static1.squarespace.com/static/54f615cee4b082baf47cf92c/t/5b748a0f0e2e7237ed6ae305/1534365553674/Seizoki2.jpg" alt=""></div>
  <div class="col-md-3 col-md-offset-1"><img class="https://static1.squarespace.com/static/54f615cee4b082baf47cf92c/t/5b748ba14fa51a2b5145736f/1534364623823/IMG_2210.JPG?" alt=""></div>
</div>

<div class="row">
  <div class="col-md-3 col-md-offset-2">
    Collaborative Cataloging Japan is an international non-profit, 501(c)3, organization dedicated to preserving the legacy of Japanese experimental moving image produced from the 1950s through 1980s, including fine art on film and video, documentations of performance, independently produced documentaries, experimental animation and experimental television. 
    <br/>
    The mission of CCJ is to preserve, document and disseminate these works, and enable their appreciation by a wider audience. Without this effort, this unique sector of Japanese cultural heritage, which historically has been underrepresented and unsupported, would remain available to only a very few. Buried in artists’ studios or independent archives, many works additionally are in danger of literal disappearance as film and video mediums deteriorate.
  </div>
  <div class="col-md-3 col-md-offset-2">
    2015年に設立されたアメリカ、フィラデルフィアの非営利団体、コラボラティブ・カタロギング・ジャパン（CCJ)は戦後日本の実験映画とビデオ作品（1950-1980s）を所蔵するコレクション、及び美術館、大学、図書館、アーカイブ、個人コレクションと一緒に記録や保存に関する課題を考え、ソルーションへ向けて活動をします。そして研究者や一般へその資料のアクセスを提供することを目的としています。
    <br/> 
    そのコレクション機関や個人とパートナーシップをくみ、統一的メタデータの抽出を考えることで共有可能なデータベース制作へのインフラ構築を目指します。その記録制作の作業に加えCCJは作品自体の保存のサポートを通し実験映像レガシーのメインテナンスのアシストをします。さらに日本国外での展覧や上映プログラムを通してレガシーの海外で紹介をします。また関連資料を一般に公開するプランによって世界のキュレーター、アーキビスト、研究者、アーティスト、学生のリサーチに貢献することを目標としています。
  </div>
</div>
