<div class="col-md-8">
  <% unless @context.name.nil? %>
  <div class="artist-name">Works held by <%= @context.name =%></div>
  <div><%= @context.description_en =%></div>
    <% unless @context.website.nil? %>
  <div> <%= link_to @context.website %> </div>
    <% end %>
  <% end %>

</div>
