<div class="context-above-index">
  <% if @context %>
  <div class="col-md-6">
    <%= @context.name =%>
    <%= @context.description_en =%>
    </div>
    <div>
    <% if @context.image.attached? %>
      <%= image_tag @context.image.variant(resize: "150x150") %>
    <% end %>
    </div>

  <% end %>
</div>
