@import 'bootstrap-sprockets';

@import 'bootstrap';

@import 'blacklight/blacklight';

.navbar-brand {
  background: image-url("ccj.png") no-repeat top left;
  background-size: 150px 50px;

}

.translated_index_title {
  font-size:1em;
  margin-left:1em;
  margin-top: 5px
}
