<div class="navbar-right">
  <ul class="nav navbar-nav">
      <li><%= link_to t('about'), "/about" %></li>
      <li><%= link_to t('browse'), "/browse" %></li>
  </ul>

  <div class="navbar-nav nav">
    <%= render_search_bar  %>
  </div>
</div>
