<div class="navbar-right">
  <ul class="nav navbar-nav">
      <li><%= link_to t('about.label'), "/about" %></li>
      <li><%= link_to t('browse'), "/catalog?search_field=all_fields&sort=title_sort+asc%2C+pub_date_sort+desc" %></li>
  </ul>

  <div class="navbar-nav nav">
    <%= render_search_bar  %>
  </div>
</div>
